<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Channels</title>

  
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</head>
<body>
<h1>Django Channels</h1>
<h3>{{user}}</h3>
<ul class="m-3" id=chat-items>
    <li>Data</li>
</ul>
<form id="form" method="POST">
    {% csrf_token %}
    <input type="text" name="message" id="id_message" placeholder="Enter the message"/>
    <input type="submit" value="Send"/>
</form>
</body>

<script>
    console.log(window.location);
    var formData = $('#form');
    var textMsg = $('#id_message');

    var chatItems = $('#chat-items');
    var wsStart = 'ws://'
    if (window.location.protocol == "https:"){
        var wsStart = 'wss://'
    }
    var endpoint = wsStart + window.location.host + window.location.pathname;
    console.log(endpoint)
    var socket = new ReconnectingWebSocket(endpoint);

    socket.onmessage = function(e){
        console.log("message", e);
        chatItems.append("<li>" + e.data +" </li>")

    }
    socket.onopen = function(e){
        console.log("open", e);
        formData.submit(function(event){
            event.preventDefault();
            var msg = textMsg.val();
            var finalData = {
                "message": msg
            }
            socket.send(JSON.stringify(finalData));
            textMsg.val('');
        });

    }
    socket.onerror = function(e){
        console.log("error", e)
    }
    socket.onclose = function(e){
        console.log("close", e)
    }
</script>
</html>